* {
	 margin: 0; 
	 padding: 0;
}
body{
	background: #719EBB;
	
}
.fullwaper{
	width: 900px;
	margin: 0 auto;
	box-shadow: 0 0 5px 1px;
	background: #fff;
}
header{
	height: 120px;
	background-image: url(../img/masthead.png) ;

}
#head{
	width: 67px;
	height: 67px;
	display: block;
	position: relative;
	left: 10px;
	top: 15px;
}
.head_t {
    height: 126px;
    position: relative;
    width: 650px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 12px;
    float: left;
    
}
#log_2{
	width: 85px;
	height: 82px;
	position: relative;
	left: 45px;
	top: 10px;
}
.head{
	float: left;
}
.log_2{
	float: left;
}
.head_t h1{
	font: normal 24px/27px MyriadProSemibold,sans-serif;
	font-weight: 600;
}
.head_t a{
	color: #1a2853;
	text-decoration: none;
	
}
.head_t h1 span {
    text-transform: uppercase;
}
.head_t h2{
	font: normal 12px/19px MyriadProSemibold,sans-serif;
	color: #7e8285;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 600;
}
.bod{
	font: 12px/20px Verdana,sans-serif;
}
.bod h1 {
    font: bold normal 18px/26px Verdana,sans-serif;
    font-size: 18px;
    color: #1a2853;
    padding: 0px;
    padding-top: 0px;
	  margin: 10px 10px;
}
.blok_1 {
    background-color: #DFE6EC;
    padding: 10px 30px;
    margin: 0 15px;
}
.bod ul{
	font: 12px/20px Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 24px;
	max-width: 490px;
}
.reg {
    float: right;
    width: 300px !important;
    height: auto;
    margin: 20px 30px 30px 30px;
    -webkit-box-shadow: 0px 4px 20px 5px #C1BBBB;
    box-shadow: 0px 4px 20px 5px #C1BBBB;
    border: 5px solid #DFE6EC;
    background-color: #fff;
	  margin: -273px 23px 0 0;
	 box-shadow: 0 0 5px 1px #fff;
}
.reg .kont {
    background-color: #CD1920;
    margin: 0 -5px;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid #fff;
	  font: 12px/20px Verdana,Arial,Helvetica,sans-serif;
}
.reg .kont p, .reg .cont h4 {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.reg .cont p {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 6px;
	
}
.reg .cont h4 {
    font-size: 24px;
    margin-bottom: 6px;
	  line-height: 26px; 
}
.regi p span{
	color: red;
}
.reg img {
    margin: -5px 0 0 -5px;
}
.blok_2 {
    margin: 15px 35px;
}
.bod li{
	margin-left: 10px;
}
.blok_2 li{
	margin-left: 20px;
}
@media only screen and (min-width: 800px){
	.mobile{
		display: none;
		
	}
	img {
		margin: 0 auto;
		text-align: center;
	}
}
@media only screen and (max-width: 800px){
	.stady{
		display: none;
	}
}
.fut p {
    float: left;
    width: 48%;
    font-size: 12px;
    line-height: 24px;
    padding-right: 2%;
}
.fut{
	overflow: hidden;
}
p.site-map {
    font: 11px/18px Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 0px;
    padding: 6px 0px 30px;
}
p.cop {
    font: 11px/18px Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 15px;
}
footer{
	color: #fff;
}
p.cop a {
    color: #fff;
    text-decoration: none;
}
p.site-map a {
    color: #fff;
    text-decoration: none;
}
.blok_3 {
	padding-top: 20px; 
    overflow: hidden;
    clear: right;